{% extends 'main.html' %}
{% from 'macros/from_macro.html' import mostrarcampo, mostrarenvio %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-expand-md ">
      <div class="container">
             <a class="navbar-brand">Bolsoneria</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <i class="icon ion-md-menu"></i>
             </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                     <a class="nav-link" href="{{url_for('admin.ver_todos')}}" id="listabolsones">Ver bolsones</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-nav py-2 px-4" href="{{url_for('admin.panel_admin')}}" id="paneladmin">Panel administrador</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="alert alert-{{ messages.0.0}} text-center" role="alert">
          {% for category, message in messages %}
            {{ message }}
          {% endfor %}
        </div>
       {% endif %}
    {% endwith %}

    <div class="w3l-login-form d-flex align-items-center flex-column main-section card border-dark mb-3" style="max-width: 26rem;">
            <br><br>
        <h1><strong>Agregar bolson</strong></h1>
             <br>
        <form action="{{url_for('admin.agregar_bolson')}}" method="POST" >
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <div class="w3l-login-form">
                    <div class="group">
                        {{mostrarcampo(form.nombre, class="form-control")}}
                    </div>
                    <div class="group">
                        {{mostrarcampo(form.descripcion, class="form-control")}}
                    </div>
                    <div class="group">
                        {{mostrarcampo(form.producto, class="form-control form-select input")}}
                    </div>
                    <div class="group hidden" id="producto2">
                        {{mostrarcampo(form.producto2, class="form-control form-select input", id='select2')}}
                    </div>
                    <div class="group hidden" id="producto3">
                        {{mostrarcampo(form.producto3, class="form-control form-select input", id='select3')}}
                    </div>
                    <div class="group hidden" id="producto4">
                        {{mostrarcampo(form.producto4, class="form-control form-select input", id='select4')}}
                    </div>
                    <div class="group">
                        {{mostrarcampo(form.precio, class="form-control")}}
                    </div>
                    <br>{{mostrarenvio(form.submit, class="btn button btn-xl mt-1")}}
                  <br><br>
                </div>
        </form>
    </div>


       <footer class="footer">
        <div class="container"></div>
       </footer>

{% endblock %}