{% extends 'main.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-expand-md  ">
      <div class="container">
             <a class="navbar-brand">Bolsoneria</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <i class="icon ion-md-menu"></i>
             </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary py-2 px-4" href="{{url_for('inicio.inicio_logeado')}}"  id="paneladmin">Panel administrador</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        <div class="w3l-login-form d-flex align-items-center flex-column main-section card border-dark mb-3" style="max-width: 26rem;">
            <br><br>
            <h1><strong>Agregar nuevo</strong></h1>
            <h1><strong>proveedor</strong></h1>
            <form action="#" method="POST">
                <div class="w3l-login-form">
                    <ion-icon name="accessibility-outline"></ion-icon><label>Nombre:</label>
                    <div class="group">
                        <input type="text" class="form-control" placeholder="Nombre" required="required">
                    </div>
                </div>
                <div class="w3l-login-form">
                    <ion-icon name="accessibility-outline"></ion-icon><label>Apellido:</label>
                    <div class="group">
                        <input type="text" class="form-control" placeholder="Apellido" required="required">
                    </div>
                </div>
                <div class="w3l-login-form">
                    <ion-icon name="call-outline"></ion-icon><label>Telefono:</label>
                    <div class="group">
                        <input type="text" class="form-control" placeholder="Telefono" required="required">
                    </div>
                </div>
                <div class="w3l-login-form">
                    <ion-icon  name = "mail-outline" > </ion-icon ><label>Email:</label>
                    <div class="group">
                        <input type="text" class="form-control" placeholder="Email" required="required">
                        <br>
                    </div>
                </div>
                    <a class="btn button btn-xl mt-1 " href="#scroll">Agregar proveedor</a>
                <br><br>
            </form>
        </div>
       <footer class="footer">
        <div class="container">
        </div>
       </footer>

{% endblock %}