{% extends 'main.html' %}
{% from 'macros/from_macro.html' import mostrarcampo %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-expand-md ">
      <div class="container">
             <a class="navbar-brand">Bolsoneria</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <i class="icon ion-md-menu"></i>
             </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                     <a class="nav-link" href="{{url_for('admin.ver_bolsones')}}" id="listabolsones">Ver bolsones</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-nav py-2 px-4" href="{{url_for('admin.panel_admin')}}" id="paneladmin">Panel administrador</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        <div class="w3l-login-form d-flex align-items-center flex-column main-section">
            <h1><strong>Agregar bolson</strong></h1>
             <br>
                <div class="w3l-login-form">
                    <label>Nombre del bolson:</label>
                    <div class="group">
                        <input type="text" class="form-control" placeholder="Nombre" required="required">
                    </div>
                    <label>Fecha:</label>
                    <div class="group">
                        <input type="text" class="form-control" placeholder="Fecha" required="required">
                    </div>
                    <label>Productos:</label>
                    <div class="group">
                        <input type="text" class="form-control" placeholder="Productos" required="required">
                    </div>
                    <br><a class="btn button btn-xl mt-1 " href="#scroll">Agregar bolson</a>
                  <br><br>
                </div>
        </div>

       <footer class="footer">
        <div class="container"></div>
       </footer>

{% endblock %}