{% extends 'main.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-expand-md ">
      <div class="container">
             <a class="navbar-brand">Bolsoneria</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <i class="icon ion-md-menu"></i>
             </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link btn btn-primary py-2 px-4" href="http://localhost:63342/programacion1/frontend/vistas/inicio_registrado.html?_ijt=j7bueh5859unbugu6e8ic0cf20&_ij_reload=RELOAD_ON_SAVE" id="Inicio">Inicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        <div class="w3l-login-form d-flex align-items-center flex-column main-section">
            <h1>Nueva contraseña</h1>
                <div class="w3l-login-form" >
                    <br>
                    <ion-icon name="key-outline"></ion-icon><label>Contraseña:</label>
                    <div class="group">
                        <input type="password" class="form-control" placeholder="Contraseña" required="required">
                    </div>
                       <br>
                    <ion-icon name="key-outline"></ion-icon><label>Confirmar contraseña:</label>
                    <div class="group">
                        <input type="password" class="form-control" placeholder="Contraseña" required="required">
                    </div>
                       <br>
                    <a class="btn button btn-xl mt-1 " href="#scroll">Cambiar contraseña</a>
                </div>
        </div>

       <footer class="footer">
        <div class="container"></div>
       </footer>
{% endblock %}