{% extends 'main.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-expand-md ">
      <div class="container">
             <a class="navbar-brand">Bolsoneria</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <i class="icon ion-md-menu"></i>
             </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link btn btn-primary py-2 px-4" href="http://localhost:63342/programacion1/frontend/vistas/inicio_registrado.html?_ijt=a8n5c2b05vnv76402o6s1t0ap3&_ij_reload=RELOAD_ON_SAVE" id="Inicio">Inicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        <div class="w3l-login-form d-flex align-items-center flex-column main-section card border-dark mb-3" style="max-width: 26rem;">
            <br><br>
            <h1><strong>Editar perfil</strong></h1>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="w3l-login-form">
                    <br>{{ mostrarcampo(form.nombre, class="from control") }}
                    <div class="group">
                        <input type="text" class="form-control" placeholder="Nombre" required="required">
                    </div>
                </div>
                <div class="w3l-login-form">
                   <br><ion-icon name="accessibility-outline"></ion-icon><label>Apellido:</label>
                    <div class="group">
                        <input type="text" class="form-control" placeholder="Apellido" required="required">
                    </div>
                </div>
                <div class="w3l-login-form">
                    <br><ion-icon name="call-outline"></ion-icon><label>Telefono:</label>
                    <div class="group">
                        <input type="text" class="form-control" placeholder="Telefono" required="required">
                    </div>
                </div>
                <div class="w3l-login-form">
                    <br><ion-icon name="key-outline"></ion-icon><label>Contraseña:</label>
                    <div class="group">
                        <input type="password" class="form-control" placeholder="Contraseña" required="required">
                    </div>
                </div>
                <div class="w3l-login-form">
                    <br><a class="btn button btn-xl mt-1 " href="#scroll">Actualizar perfil</a>
                    <div class="recuperar_contraseña">
                      <strong>Olvido su contraseña?</strong><a href="http://localhost:63342/programacion1/frontend/vistas/cambiar_contrase%C3%B1a.html?_ijt=4qfpsmk7glfuufv26pt5d7ebnu&_ij_reload=RELOAD_ON_SAVE">Entre aqui.</a>
                      <br><br>
                    </div>
                </div>
        </div>
       <footer class="footer">
        <div class="container">
        </div>
       </footer>
{% endblock %}