{% extends 'main.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-expand-md ">
      <div class="container">
             <a class="navbar-brand">Bolsoneria</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <i class="icon ion-md-menu"></i>
             </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                     <a class="nav-link"  href="{{url_for('cliente.panel_cliente')}}" id="usuario">{{current_user.email}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary py-2 px-4"  href="{{url_for('cliente.panel_cliente')}}" id="paneladministradoe">Panel admin</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="proveedores">
			    <div class="row">
				    <div class="col-sm-5 col-md-5">
                         <br>
						<div class="section_title">Proveedor 1</div>
					</div>
                    <div class="col-sm-4 col-md-4">
                         <br>
                        <div class="datos"><p>NOMBRE:</p><p>APELLIDO:</p><p>TELEFONO:</p><p>MAIL:</p></div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                         <br><br>
                        <div class="datos"><p><a class="boton-secundario" href="#scroll">modificar</a></p><p><a class="boton-secundario" href="#scroll">ELIMINAR</a></p></div>
                    </div>
				</div>

               <div class="row">
				    <div class="col-sm-5 col-md-5">
                         <br>
						<div class="section_title">Proveedor 2</div>
					</div>
                    <div class="col-sm-4 col-md-4">
                         <br>
                        <div class="datos"><p>NOMBRE:</p><p>APELLIDO:</p><p>TELEFONO:</p><p>MAIL:</p></div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                         <br><br>
                        <div class="datos"><p><a class="boton-secundario" href="#scroll">modificar</a></p><p><a class="boton-secundario" href="#scroll">ELIMINAR</a></p></div>
                    </div>
                </div>
			    </div>

			    <div class="row">
                    <div class="col-sm-5 col-md-5">
                        <br>
                        <div class="section_title">Proveedor 3</div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <br>
                        <p>NOMBRE:</p>
                        <p>APELLIDO:</p>
                        <p>TELEFONO:</p>
                        <p>MAIL:</p>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <br><br>
                        <div class="datos"><p><a class="boton-secundario" href="#scroll">modificar</a></p><p><a class="boton-secundario" href="#scroll">ELIMINAR</a></p></div>
                    </div>
                </div>


    <footer class="footer">
           <div class="container">
               <br>
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
           </div>
    </footer>

{% endblock %}
