{% extends 'main.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-expand-md  ">
      <div class="container">
             <a class="navbar-brand" href="#">Bolsoneria</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <i class="icon ion-md-menu"></i>
             </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                     <a class="nav-link" href="{{url_for('proveedor.ver_productos')}}" id="verproductos">Ver productos</a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link btn btn-nav py-2 px-4" href="{{url_for('cliente.panel_cliente')}}" id="panelproveedor">Panel proveedor</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1 ">
            <div class="p-4 text-center">
                <br>
                <h1><strong><p>Agregar</p><p>producto</p></strong></h1>
                <br><br><br>
                <h6>PRODUCTO</h6>
                <input type="text" class="caja" placeholder="">
                <br><br><br>
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="">Agregar producto</a>
            </div>
        </div>
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1 ">
            <div class="p-4 text-center">
                <br>
                <h1><strong><p>Modificar</p><p>producto</p></strong></h1>
                <br><br><br>
                <h6>PRODUCTO</h6>
                <input type="text" class="caja" placeholder="">
                <br><br><br>
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="">Modificar producto</a>
            </div>
        </div>
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1 ">
            <div class="p-4 text-center">
                <br>
                <h1><strong><p>Eliminar</p><p>producto</p></strong></h1>
                <br><br><br>
                <h6>PRODUCTO</h6>
                <input type="text" class="caja" placeholder="">
                <br><br><br>
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="">Eliminar producto</a>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container">
        </div>
    </footer>

{% endblock %}