{% extends 'main.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-expand-md ">
      <div class="container">
             <a class="navbar-brand">Bolsoneria</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <i class="icon ion-md-menu"></i>
             </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                         <a class="nav-link btn btn-nav py-2 px-4" href="{{url_for('inicio.inicio_logeado')}}" id="Inicio">Inicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="w3l-login-form d-flex align-items-center flex-column main-section">
            <h1><strong>Panel Administrador</strong></h1>
    </div>
    <div class="row">
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1 ">
            <div class="p-4 text-center">
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="{{url_for('admin.editar_perfil', id=current_user['id'])}}">Editar perfil</a>
            </div>
        </div>
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1">
            <div class="p-4 text-center">
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="{{url_for('admin.agregar_proveedor')}}" >Agregar proveedor</a>
            </div>
        </div>
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1">
            <div class="p-4 text-center">
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="{{url_for('admin.agregar_bolson')}}">Agregar bolson</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1 ">
            <div class="p-4 text-center">
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="{{url_for('admin.lista_proveedores')}}">Lista de proveedores</a>
            </div>
        </div>
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1">
            <div class="p-4 text-center">
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="{{url_for('admin.ver_todos')}}">Consultar bolsones</a>
            </div>
        </div>
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1">
            <div class="p-4 text-center">
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="{{url_for('admin.bolsones_pendientes')}}">Consultar bolsones pendientes</a>
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1 ">
            <div class="p-4 text-center">
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="{{url_for('admin.ver_productos')}}">Consultar productos</a>
            </div>
        </div>
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1">
            <div class="p-4 text-center">
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="{{url_for('admin.bolsones_previos')}}">Consultar bolsones previos</a>
            </div>
        </div>
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1">
            <div class="p-4 text-center">
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="{{url_for('main.logout')}}">Cerrar sesion</a>
            </div>
        </div>
    </div>



    <footer class="footer">
        <div class="container">
        </div>
    </footer>
{% endblock %}