{% extends 'main.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-expand-md ">
      <div class="container">
             <a class="navbar-brand">Bolsoneria</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <i class="icon ion-md-menu"></i>
             </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                         <a class="nav-link btn btn-primary py-2 px-4" href="http://localhost:63342/programacion1/frontend/vistas/inicio_registrado.html?_ijt=a8n5c2b05vnv76402o6s1t0ap3&_ij_reload=RELOAD_ON_SAVE" id="Inicio">Inicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="w3l-login-form d-flex align-items-center flex-column main-section">
            <h1><strong>Panel cliente</strong></h1>
    </div>
    <div class="col-sm-12 order-sm-1 col-md-12 order-md-1 ">
        <div class="p-4 text-center">
            <a class="btn btn-primary btn-xl mt-5" href="http://localhost:63342/programacion1/frontend/vistas/editar_perfil.html?_ijt=a8n5c2b05vnv76402o6s1t0ap3&_ij_reload=RELOAD_ON_SAVE">Editar perfil</a>
        </div>
    </div>
     <div class="col-sm-12 order-sm-1 col-md-12 order-md-1">
        <div class="p-4 text-center">
            <a class="btn btn-primary btn-xl mt-5" href="http://localhost:63342/programacion1/frontend/vistas/compra_cliente.html?_ijt=pp72j99903c823tubks0lca47v&_ij_reload=RELOAD_ON_SAVE">Ver compras</a>
        </div>
    </div>
     <div class="col-sm-12 order-sm-1 col-md-12 order-md-1">
        <div class="p-4 text-center">
            <a class="btn btn-primary btn-xl mt-5" href="http://localhost:63342/programacion1/frontend/vistas/inicio.html?_ijt=7giu5sgofnt2ihcgd31pkjk706&_ij_reload=RELOAD_ON_SAVE">Cerrar sesion</a>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
        </div>
    </footer>

{% endblock %}