{% extends 'main.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-expand-md ">
      <div class="container">
             <a class="navbar-brand">Bolsoneria</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <i class="icon ion-md-menu"></i>
             </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                         <a class="nav-link btn btn-primary py-2 px-4" href="#" id="Inicio">Inicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="w3l-login-form d-flex align-items-center flex-column main-section">
            <h1><strong>Panel proveedor</strong></h1>
    </div>
    <div class="col-sm-12 order-sm-1 col-md-12 order-md-1 ">
        <div class="p-4 text-center">
            <a class="btn btn-primary btn-xl mt-5" style="width: 20%;"  href="http://localhost:63342/programacion1/frontend/vistas/editar_perfil.html?_ijt=4qfpsmk7glfuufv26pt5d7ebnu&_ij_reload=RELOAD_ON_SAVE">Editar perfil</a>
        </div>
    </div>
     <div class="col-sm-12 order-sm-1 col-md-12 order-md-1">
        <div class="p-4 text-center">
            <a class="btn btn-primary btn-xl mt-5" style="width: 20%;" href="http://localhost:63342/programacion1/frontend/vistas/modificar_producto_prov.html?_ijt=l4eh6jlhn00pnecg4j9bstu2d&_ij_reload=RELOAD_ON_SAVE">Agregar productos</a>
        </div>
    </div>
     <div class="col-sm-12 order-sm-1 col-md-12 order-md-1">
        <div class="p-4 text-center">
            <a class="btn btn-primary btn-xl mt-5" style="width: 20%;"  href="http://localhost:63342/programacion1/frontend/vistas/ver_productos.html?_ijt=2dahn7i879g8vertvp1461tjhf&_ij_reload=RELOAD_ON_SAVE">Consultar productos</a>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
        </div>
    </footer>

{% endblock %}