{% extends 'main.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-expand-md ">
      <div class="container">
             <a class="navbar-brand">Bolsoneria</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <i class="icon ion-md-menu"></i>
             </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                         <a class="nav-link btn btn-primary py-2 px-4" href="http://localhost:63342/programacion1/frontend/vistas/inicio_registrado.html?_ijt=j7bueh5859unbugu6e8ic0cf20&_ij_reload=RELOAD_ON_SAVE" id="Inicio">Inicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="w3l-login-form d-flex align-items-center flex-column main-section">
            <h1><strong>Panel Administrador</strong></h1>
    </div>
    <div class="row">
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1 ">
            <div class="p-4 text-center">
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="http://localhost:63342/programacion1/frontend/vistas/editar_perfil.html?_ijt=4qfpsmk7glfuufv26pt5d7ebnu&_ij_reload=RELOAD_ON_SAVE">Editar perfil</a>
            </div>
        </div>
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1">
            <div class="p-4 text-center">
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="http://localhost:63342/programacion1/frontend/vistas/agregar_proveedor.html?_ijt=4qfpsmk7glfuufv26pt5d7ebnu&_ij_reload=RELOAD_ON_SAVE">Agregar proveedor</a>
            </div>
        </div>
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1">
            <div class="p-4 text-center">
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="http://localhost:63342/programacion1/frontend/vistas/agregar_bolson.html?_ijt=dq2mht0ghvbtgob7772s833i76&_ij_reload=RELOAD_ON_SAVE">Agregar bolson</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1 ">
            <div class="p-4 text-center">
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="http://localhost:63342/programacion1/frontend/vistas/bolsones_admin.html?_ijt=oi894f1nvj74ehgak9s6tpblel&_ij_reload=RELOAD_ON_SAVE">Consultar compras</a>
            </div>
        </div>
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1">
            <div class="p-4 text-center">
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="http://localhost:63342/programacion1/frontend/vistas/ver_bolsones_registrado.html?_ijt=9767j8cspnd7fv1c9qus1263fp&_ij_reload=RELOAD_ON_SAVE">Consultar bolsones en venta</a>
            </div>
        </div>
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1">
            <div class="p-4 text-center">
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="http://localhost:63342/programacion1/frontend/vistas/bolsones_pendientes.html?_ijt=aocgb8u4ha2fd7ht81rv8em0hn&_ij_reload=RELOAD_ON_SAVE">Consultar bolsones pendientes</a>
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1 ">
            <div class="p-4 text-center">
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="http://localhost:63342/programacion1/frontend/vistas/ver_productos.html?_ijt=vkl9diltdbfi6967srrevfsnpb&_ij_reload=RELOAD_ON_SAVE">Consultar productos</a>
            </div>
        </div>
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1">
            <div class="p-4 text-center">
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="http://localhost:63342/programacion1/frontend/vistas/bolsones_previos.html?_ijt=vebi7ut4bq1k20pqflh1sdtg0o&_ij_reload=RELOAD_ON_SAVE">Consultar bolsones previos</a>
            </div>
        </div>
        <div class="col-sm-4 order-sm-1 col-md-4 order-md-1">
            <div class="p-4 text-center">
                <a class="btn btn-primary btn-xl mt-5" style="width: 70%;" href="http://localhost:63342/programacion1/frontend/vistas/inicio.html?_ijt=4qfpsmk7glfuufv26pt5d7ebnu&_ij_reload=RELOAD_ON_SAVE">Cerrar sesion</a>
            </div>
        </div>
    </div>



    <footer class="footer">
        <div class="container">
        </div>
    </footer>
{% endblock %}