<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https:unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
    <title></title>
 </head>
 <body>
    <nav class="navbar navbar-expand-lg ">
      <div class="container">
             <a class="navbar-brand">Bolsoneria</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <i class="icon ion-md-menu"></i>
             </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                     <a class="nav-link" href="http://localhost:63342/programacion1/frontend/vistas/inicio.html?_ijt=u8p06nib4q67p74at9mft02l7k&_ij_reload=RELOAD_ON_SAVE" id="inicio">Inico</a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link btn btn-primary py-2 px-4" href="http://localhost:63342/programacion1/frontend/vistas/inicio_sesion.html?_ijt=u8p06nib4q67p74at9mft02l7k&_ij_reload=RELOAD_ON_SAVE" id="Iniciar sesion">Iniciar sesion </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        <div class="w3l-login-form d-flex align-items-center flex-column main-section">
            <h1>Crear una nueva cuenta</h1>
                <div class="registrado">
                     <strong>Ya esta registrado?</strong><a href="http://localhost:63342/programacion1/frontend/vistas/inicio_sesion.html?_ijt=4qfpsmk7glfuufv26pt5d7ebnu&_ij_reload=RELOAD_ON_SAVE">Entre aqui.</a>
                </div>
            <form action="#" method="POST">
                <div class="w3l-login-form">
                    <br>
                    <ion-icon name="accessibility-outline"></ion-icon><label>Nombre:</label>
                    <div class="group">
                        <input type="text" class="form-control" placeholder="Nombre" required="required">
                    </div>
                </div>
                <div class="w3l-login-form">
                    <ion-icon name="accessibility-outline"></ion-icon><label>Apellido:</label>
                    <div class="group">
                        <input type="text" class="form-control" placeholder="Apellido" required="required">
                    </div>
                </div>
                <div class="w3l-login-form">
                    <ion-icon name="call-outline"></ion-icon><label>Telefono:</label>
                    <div class="group">
                        <input type="text" class="form-control" placeholder="Telefono" required="required">
                    </div>
                </div>
                <div class="w3l-login-form">
                    <ion-icon  name = "mail-outline" > </ion-icon ><label>Email:</label>
                    <div class="group">
                        <input type="text" class="form-control" placeholder="Email" required="required">
                    </div>
                </div>
                <div class="w3l-login-form" >
                    <ion-icon name="key-outline"></ion-icon><label>Contraseña:</label>
                    <div class="group">
                        <input type="password" class="form-control" placeholder="Contraseña" required="required">
                    </div>
                </div>
                  <div class="w3l-login-form" >
                    <ion-icon name="key-outline"></ion-icon><label>Confirmar contraseña:</label>
                    <div class="group">
                        <input type="password" class="form-control" placeholder="Contraseña" required="required">
                    </div>
                </div>
                    <a class="btn button btn-xl mt-1 " href="#scroll">Registrarse</a>
            </form>
        </div>
       <footer class="footer">
        <div class="container">
        </div>
       </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
